$sidebar-width: 300px;
$header-hight: 40px;
$body-width: 1140px;

$app-background-color: #f8f9fa;
$primary: #4b636e;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
