$sidebar-width: 240px;
$header-hight: 40px;

$primary: #227093;
$warning: #ffb142;
$danger: #ff5252;


$darken-primary: darken($primary, 10%);

$lighten-primary: lighten($primary, 10%);


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


$secondary: $gray-500;

$header-background: $darken-primary;

$app-background-color: $gray-100;