$sidebar-width: 300px;
$header-hight: 40px;

$primary: #227093;

/*$warning: #ffb142;
$danger: #EC777D;
$success: #a5d0a8;*/


$darken-primary: darken($primary, 10%);

$lighten-primary: lighten($primary, 10%);


@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

//$table-bg: $gray-100;

$secondary: $gray-500;

$header-background: $darken-primary;

$app-background-color: $gray-100;