html, body, #app {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

#app {
	align-items: center;
	background-color: $app-background-color;
}

:focus {
	outline: none !important;
	box-shadow: none !important;
}

.form-label {
	line-height: 1;
}

.croppie-container {
	.cr-boundary {
		z-index: auto !important;
		.cr-overlay {
			z-index: auto !important;
		}
	}
	.cr-image {
		z-index: auto !important;
	}
	.cr-slider-wrap {
		display: none;
	}
}