html, body, #app {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#app {
	align-items: center;
	background-color: $app-background-color;
}

:focus {
	outline: none !important;
	box-shadow: none !important;
}